.openerp .oe_login {
    background-image: none;
    background: url("/web_vauxoo_cust/static/src/img/body_bg.png") repeat-x scroll center top #EEEEEE;
}

.openerp .oe_login .oe_login_bottom {
    display: none;
}

.openerp .oe_login .oe_login_footer a{
    color: #AB0000;
}

.openerp .oe_application a {
    color: #AB0000;
}

.openerp a.zocial.google {
    border: 1px solid #222222;                                                                         
    color: white;                                                                                      
    margin: 0;                                                                                         
    background-color: #b92020;                                                                         
    text-shadow: none;                                                                                 
    font-weight: normal;                                                                               
} 
