 /* Root container */
.openerp .oe_portal_crm_contact {
    min-width: 960px;
}

/* Contact form section */
.openerp .oe_portal_crm_contact .oe_portal_crm_contact_form {
    margin-right: 10px;
}
.openerp .oe_portal_crm_contact .oe_portal_crm_contact_form input[type="text"] {
    width: 40%;
}

/* Offices list section */
.openerp .oe_portal_crm_contact .oe_portal_crm_office {
    background: #DDD;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
.openerp .oe_portal_crm_contact .oe_portal_crm_office * {
    background: transparent !important;
}
.openerp .oe_portal_crm_contact .oe_portal_crm_office .oe_fold_column.oe_kanban_record {
    float: none;
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
}
.openerp .oe_portal_crm_contact .oe_portal_crm_office li:last-child {
    margin-bottom: 1em;
}
.openerp .oe_portal_crm_contact .oe_portal_crm_office ul:last-child li:last-child {
    margin-bottom: 0;
}

/* Bootstrap */

.openerp .oe_form .bs3 input[type="text"], .openerp .oe_form .bs3 input[type="password"], .openerp .oe_form .bs3 input[type="file"], .openerp .oe_form .bs3 select {
    height: auto;                                                                                         
    padding-top: auto;                                                                                     
} 

.openerp .oe_form .bs3 input[type="text"].bs3-required {
    background-color: #BFDDFF;
}

.openerp .oe_form .bs3 textarea {
  min-height: 96px;                                                                                 
}

.openerp .oe_form .bs3 textarea:-moz-placeholder {
  padding-left: 10px;                                                                    
}

.openerp .oe_form .bs3 textarea::-webkit-input-placeholder {
  padding-left: 10px;                                                                    
}

.openerp .oe_form .bs3 textarea:-ms-input-placeholder {
  padding-left: 10px;                                                                    
}

.bs3 .bgvauxoo {                                                                      
  background: url(/portal_home/static/src/img/VAUXOOBigIcon.png), -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 2160, color-stop(0%, #ffffff), color-stop(100%, #cfcfcf));
  background: url(/portal_home/static/src/img/VAUXOOBigIcon.png), -webkit-radial-gradient(#ffffff, #cfcfcf 2160px);
  background: url(/portal_home/static/src/img/VAUXOOBigIcon.png), -moz-radial-gradient(#ffffff, #cfcfcf 2160px);
  background: url(/portal_home/static/src/img/VAUXOOBigIcon.png), -o-radial-gradient(#ffffff, #cfcfcf 2160px);
  background: url(/portal_home/static/src/img/VAUXOOBigIcon.png), radial-gradient(#ffffff, #cfcfcf 2160px);
  background-repeat: no-repeat;                                                                        
  background-right: 5%;                                                                                
  background-position: 90% center;                                                                     
  margin-bottom: 0px;                                                                                  
}

.openerp .bs3 .oe_kanban_view {                                                                          
  background: transparent;                                                                                                                                                           
  height: inherit;                                                                                  
} 

.openerp .oe_form .bs3 .oe_kanban_view .oe_kanban_column {
  padding: 0px;                                                                                     
  background: transparent;
}
