$brand-image-height: 150px;
$brand-image-border-radius: 3px;
$brand-image-padding: 50px 15px 0px;
$brand-image-max-height: 115px;

$brand-name-font-size: 18px;
$brand-name-font-weight: bold;

$brand-description-font-size: 14px;
$brand-description-height: 8em;
$brand-description-margin-bottom: 25px;
$brand-height: 3em;

$brand-header-border-bottom: 3px solid $primary;
$brand-header-margin-top: 24px;
$brand-header-max-height: 100px;
$brand-header-margin-bottom: 32px;
