# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

*.DS_Store*

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coveragerc
.coverage.*
et
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo

# Pycharm
.idea

# VS Code
.vscode

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Sphinx documentation
docs/_build/

# Backup files
*~
*.swp

# docker JSON packages
package-lock.json
package.json

# docker node_modules
node_modules/

# pre-commit-vauxoo
.bandit*
.config/
.editorconfig
.eslintrc*
.flake8*
.isort.cfg
.oca_hooks*
.pre-commit*.yaml
.prettierrc.yml
.pylintrc*
bandit*.yaml
doc8.ini
pyproject.toml
