#top {
background: url(/web_multilogo/static/images/activa/header-background-company.png) top left repeat-x;
}
#secondary {
    border-right: 1px solid #3c3c3c;
    /* hack to "fix" weird space under bar */
    border-bottom: 1px solid #5a5858;
    background: #885926;
    padding: 0;
    vertical-align: top;
    /* Takes smallest possible width */
    width: 1px;
}

#sidenav-a li > span {
    display: block;
    height: 20px;
    padding: 0 5px;
    font-size: 1.1em;
    background: url(/web_multilogo/static/images/activa/sidenav-link-a.png) 0 100% repeat-x;
    line-height: 20px;
    text-decoration: none !important;
    cursor: pointer;
    white-space: nowrap;
}

#main_nav {
    background: url(/web_multilogo/static/images/activa/nav-bg-a.png) repeat-x;
    width: 100%;
}

#ajax_loading {
    background: url("(/web_multilogo/static/images/activa/nav-bg-a.png") repeat-x scroll 0 0 transparent;
    font-size: 1em;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    position: absolute;
    position: fixed;
    font-weight: bold;
    -moz-border-radius: 0 0 16px 16px;
    border-radius: 0 0 16px 16px;
    z-index: 100;
    color: #FFFFFF;
    display: none;
    top: 0;
    left: 50%;
    width: 300px;
    text-align: center;
}


p#cmp_logo {
    float: left;
    width: 143px;
    margin: 0 10px 0 0;
    padding: 0 0 0 0px;
    background: url(../images/activa/logo-bg.png) repeat-y;
    line-height: 50px;
}

#applications_menu a {
    display: block;
    float: left;
    padding: 0 0 0 3px;
    background: url(/web_multilogo/static/images/activa/nav-items-a.png) no-repeat;
    color: #eee;
    text-shadow: #222 0 1px 0;
}

#applications_menu span {
    display: block;
    float: left;
    min-width: 60px;
    height: 23px;
    padding: 0 9px 0 6px;
    background: url(/web_multilogo/static/images/activa/nav-items-a.png) 100% 0 no-repeat;
    line-height: 22px;
}

#corner p.logout a {
    float: left;
    height: 34px;
    padding: 0 10px;
    background: url(/web_multilogo/static/images/activa/top-logout-a.png) repeat-x;
    font-size: 1em;
    line-height: 34px;
    text-transform: uppercase;
}
#corner p.logout a:hover,#corner p.logout a:focus,#corner p.logout a:active {
    background-image: url(/web_multilogo/static/images/activa/top-over-a.png);
}
