#numpad div {                                                            
    padding: 8px 8px 8px 4px;                                                   
    display: inline-block;                                                      
    text-align: center;                                                         
}

#numpad button {                                                 
    height: 54px;                                                               
    width: 54px;                                                                
    margin: 0 -3px;                                                             
    font-weight: bold;                                                          
    vertical-align: middle;                                                     
    color: #555555;                                                             
    border-top: 1px solid #efefef;                                              
}                                                                               
#numpad .selected-mode {                                         
    color: white;                                                               
    background: #7f82ac;                                                        
    background: -webkit-gradient(linear, left top, left bottom, from(#9d9fc5), to(#7f82ac));
    background: -moz-linear-gradient(#9d9fc5, #7f82ac);                         
    background:  -ms-linear-gradient(#9d9fc5, #7f82ac);                         
    background:      linear-gradient(#9d9fc5, #7f82ac);                         
}        

#numpad .input-button {                                                  
    font-size: 24px;                                                            
}

.screencalc {
    padding: 8px;                                                   
    background-color: #EEE9E9;
    font-size: 30px;                                                            
}

span.oe-equation {
    background: #ffffff;
    vertical-align: middle;                                                     
    margin-bottom: 0;
    margin-right: 0px;
    font-size: 20px;
}

.novisible {
    border:0px solid;
    background-color: transparent;
    color:transparent;
    width:.1em;
    height:.1em;
}

