.point-of-sale .modal_dialog{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    z-index:1000;
}

.point-of-sale .modal_dialog .popup{
    position: absolute;
    left:50%;
    top:50%;
    display:inline;
    margin-left: -250px;
    margin-top: -200px;
    max-width:640px;
    min-width:300px;
    padding:5px;
    padding-top:20px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px -1px white, 0px 1px white, 0px 4px #949494, 0px 10px 20px rgba(0, 0, 0, 0.3);
    z-index:1200;
}

.point-of-sale .modal_dialog .popup .header{
    width:100%;
    height:35px;
    border-bottom: 1px solid #E0DDDD;
    margin:0 0 8px;
    cursor:move;
}

.point-of-sale .modal_dialog .popup .footer{

    position: relative;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    width:100%;
}

.point-of-sale .modal_dialog .popup .footer .buttonset{
    padding: 0.4em 0.2em;
}

.point-of-sale .modal_dialog .popup .header .title{
    width: 95%;
    float: left;
    text-align: left;
    text-indent:16px;
    top: 50%;
}

.point-of-sale .modal_dialog .popup .header .close{
    float: left;
    width: 5%;    
}

.point-of-sale .modal_dialog .content{
    padding:.5em 1em;
    font-size:15px;
}

.point-of-sale .modal_dialog .content  table {
   border-collapse:collapse;
}
.point-of-sale .modal_dialog .content input[type=text] {
    -webkit-border-radius: 3px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    height: 22px;
    margin: 2px 2px 2px 2px;
    text-indent:2px;
    text-transform:uppercase;
}

.point-of-sale .modal_dialog.content label {
    font-weight:bold;
    color:#404040;
}

.point-of-sale .modal_dialog .content  input:disabled {
    background-color: rgb(235, 235, 228);
}

.point-of-sale .modal_dialog .content  td {
    padding:2px 4px 2px;
    vertical-align: middle;
}

.point-of-sale .modal_dialog .content td:first-child{
    border-right: 1px solid #dddddd;
    vertical-align:top;
}

.point-of-sale .modal_dialog .popup button{
    float:right;    
    text-align:center;
    margin:3px;
    font-size:   14px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #cacaca;
    border-radius: 4px;
    background: #e2e2e2;
    background: -webkit-linear-gradient(#f0f0f0, #e2e2e2);
    background:    -moz-linear-gradient(#f0f0f0, #e2e2e2);
    background:     -ms-linear-gradient(#f0f0f0, #e2e2e2);
    background:         linear-gradient(#f0f0f0, #e2e2e2);
    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0, 0.3);
       -moz-box-shadow: 0px 2px 2px rgba(0,0,0, 0.3);
            box-shadow: 0px 2px 2px rgba(0,0,0, 0.3);
}
.point-of-sale .modal_dialog .popup button:hover {
    color: white;
    background: #7f82ac;
    border: 1px solid #7f82ac;
    background: -webkit-linear-gradient(#9d9fc5, #7f82ac);
    background:    -moz-linear-gradient(#9d9fc5, #7f82ac);
    background:     -ms-linear-gradient(#9d9fc5, #7f82ac);
    background:         linear-gradient(#9d9fc5, #7f82ac);

    -webkit-transition-property: background, border;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
}

.point-of-sale .modal_dialog .popup button:focus {
    color: white;
    background: #7f82ac;
    border: 1px solid #7f82ac;
    background: -webkit-linear-gradient(#9d9fc5, #7f82ac);
    background:    -moz-linear-gradient(#9d9fc5, #7f82ac);
    background:     -ms-linear-gradient(#9d9fc5, #7f82ac);
    background:         linear-gradient(#9d9fc5, #7f82ac);

    -webkit-transition-property: background, border;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
}





    








