.availability_product {
  font-size: 0.8rem
}

.js_product_warehouse, .js_available_info{
    cursor: pointer;
    font-size: 0.8rem;
}

.popover-body.stock-by-warehouse-widget{
    overflow: auto;
    max-height: 400px;
    padding: 0px;
}
