.openerp .oe_account_budget_line {
    font-size: .8em;
}

.openerp .oe_kanban_budget_line .oe_kanban_column_cards {
    background-color: #000;
}

.openerp .oe_budget h4 {
    margin-right: 3px;
}

.openerp .oe_budget_hidden {
    display:none;
} 

.openerp .oe_budget .oe_budget_oneline {
    white-space:nowrap;
    overflow:hidden;
}


.openerp .oe_budget table {
    border: 1px solid #000;
    border-spacing: 4px;
    font-size: 1.1em;
    width: 100%;
}
