.openerp .oe_budget_hidden {
    display:none;
} 

.openerp .oe_budget .oe_budget_oneline {
    white-space:nowrap;
    overflow:hidden;
}

.openerp .oe_budget .oe_kanban_bottom_right a {
    font-size: 2em;
}

.openerp .oe_budget .oe_kanban_bottom_right a:hover {
    font-size: 2.3em;
}

.openerp .oe_budget table {
    border: solid 1px #000;
    padding: 4px;
    font-size: 1.1em;
    width: 100%;
}

.openerp .oe_budget table td {
    border: solid 1px #000;
}

.openerp .oe_budget table td span{
    padding: 4px 4px 4px 4px;
}

.openerp .oe_budget table th {
    padding: 4px 4px 4px 4px;
    vertical-align:middle;
}

.openerp .oe_budget table th span{
    padding: 4px 4px 4px 4px;
}
